body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display: flex;  
  align-content: center;
}
.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.div-border{
  width: 50%;
  border: 2px solid green;
  border-radius: 25px;
}

.h-300 {
  height: 300px;
}
.m-r-10{ 
  margin-right: 10px;
}
.m-t-7{ 
  margin-top: 7px;
}
.m-t-5{ 
  margin-top: 5px;
}

.m-l-5{ 
  margin-left: 5px;
}
.m-t-18{ 
  margin-top: -18px;
}

.m-t-6{ 
  margin-top: -6px;
}
.width-80{
  width: 80%;
}
.width-90{
  width: 90%;
}
.width-57{
  width: 57%;
}

.width-50{
  width: 50%;
}

.width-60{
  width: 60%;
}

.column{
  width:100%;
  display:inline-block;
}

.theLabels{
  width:30%;
}
.theInputs{
  width:78%;
  float:right;
}

.width-100 {
  width: 100%;
}

.float-left {
  float: left;
}

.blink {
  animation: blinker 2.0s linear infinite;
  color: red;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
  }
  @keyframes blinker {  
  50% { opacity: 0; }
}

.font-20 {
  font-size: 25px;
  font-weight: bold;
}

.font-25 {
  font-size: 25px;
}

.font-luciad {
  font-family: "Lucida Handwriting";
}

.auto-height {
  height: auto;
}